/* Estilos da seção Contatos*/

.Contacts {
    padding-top: 12vh;
    height: 88vh;
    max-width: 100vw;
    background-image: url('../IMG/fundo.png');
    background-size: cover;

    /* Opção para ajustar a imagem ao tamanho da tela */
    background-repeat: round;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Contacts-infos {
    display: flex;
    text-align: center;
}

.Contacts-infos-Ed {
    margin-right: 50px;
}

.Contacts-infos-Ed  h1{
    text-align: center;
}

.Contacts-infos-Karen {
    margin-left: 50px;
}

.Contacts-infos-Karen  h1{
    text-align: center;
}
