.Header-op {
    position: fixed;
    width: 100vw;
}


.Header-Links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 1.5vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
}


.Header-Links-IMG {
    height: 3em;
}

.Header-Links-Unit {
    margin-left: 5vw;
    font-weight: bold;
}

.Header-Links-Unit a {
    text-decoration: none;
    color: inherit;
    /* Inherits color from parent element */
}

.Header-Links-Unit a:hover {
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
